doctype html
html
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    .global-wrapper
      h1 #{title}

      table
        thead
          tr
            th Name
            th First Skill
            th Secondary Skill
        tbody
          each item in data
            tr
              td #{item.properties.name}
              td #{item.properties.first_skill}
              td #{item.properties.secondary_skill}

      a(href="/update-cobj") Add to this table